# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.x'

    - name: Install dependencies
      run: go get .

    - name: Test
      run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.x'

    - name: Build for Linux ARM v5
      run: CGO_ENABLED=0 GOOS=linux GOARCH=arm GOARM=5 go build -tags netgo -trimpath -ldflags="-s -w" -buildvcs=false -o hktimer-linux-armv5 .

    - name: Build for Linux (amd64)
      run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -trimpath -ldflags="-s -w" -o hktimer-linux-amd64 .

    - name: Compress binaries with UPX
      run: upx --ultra-brute hktimer-linux-armv5 hktimer-linux-amd64

    - name: Upload Linux ARM v5 binary
      uses: actions/upload-artifact@v4
      with:
        name: hktimer-linux-armv5
        path: hktimer-linux-armv5

    - name: Upload Linux amd64 binary
      uses: actions/upload-artifact@v4
      with:
        name: hktimer-linux-amd64
        path: hktimer-linux-amd64

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: |
          hktimer-linux-armv5
          hktimer-linux-amd64
